@import compass
@import compass/reset
@import susy

%flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

%iflex
  display: -webkit-inline-flex
  display: -moz-inline-flex
  display: -ms-inline-flex
  display: -o-inline-flex
  display: inline-flex

=flex($width)
  -webkit-flex: 1 1 $width
  -moz-flex: 1 1 $width
  -ms-flex: 1 1 $width
  -o-flex: 1 1 $width
  flex: 1 1 $width

$primaryColor: #3d8af7

$columns: 4
$container: 768px
$debug: (image: hide)

$susy: (columns: $columns, container: $container, debug: $debug)

*, *::before, *::after
  +box-sizing(border-box)

html
  height: 100%
  font-family: 'Roboto'

body
  min-height: 100%

[hidden]
  display: none

button
  +border-radius(24px)
  background-color: $primaryColor
  color: #fff
  background-image: none
  border: none
  display: inline-block
  cursor: pointer
  height: 48px
  letter-spacing: 1px
  font-size: 18px
  &:hover
    background-color: darken($primaryColor, 10%)
  &[block]
    display: block
    width: 95%
    margin: 0 auto

[header]
  color: $primaryColor
  padding: 20px 10px
  border-bottom: 1px solid #ddd

.container
  +container()
  padding-top: 54px

.site-header
  @extend %flex
  +span(4 of 4)
  background-color: $primaryColor
  padding: 0 10px
  height: 54px
  z-index: 999
  position: fixed
  align-items: center
  justify-content: space-between
  .site-header-right
    @extend %flex
    justify-content: flex-end
    +flex(auto)

  &::after
    content: ""
    display: block
    clear: both
  i.mdi
    +user-select(none)
    color: #fff
    font-size: 30px
    cursor: pointer

.logo
  width: 100%
  height: auto
  padding: 20px

@import sidebar
@import situacoes
@import tempos
@import historico
@import configuracoes
@import musicas
@import contador
